{% extends 'base.html' %}
{% block body %}
    <div style="margin: auto;height: 650px;width:850px;overflow:fragments;">
        {% if not page %}
            <div style="color:green;font-size:30px">
                <p>没有找到对应的视频</p>
            </div>
        {% endif %}
        {% for v in page %}
            <div style="margin-top: 10px;height: 200px;width:180px;display: inline-block;">
                <div style="height: 90%;width: 180px;">

                    <a href="{% url 'main:detail' v.object.id %}"><img
                            src="/static/images/{{ v.object.video_name }}.jpg"
                            alt="{{ v.object.video_name }}"/></a>
                </div>
                <div style="overflow: hidden;height: 10%;color:white">
                    <a href="{% url 'main:detail' v.object.id %}"
                       style="text-decoration: none">{{ v.object.video_name }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page.has_previous %}
                    <li>
                        <a href="/search/?q={{ query }}&page={{ page.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                {% endif %}
                <li><a>{{ page.number }}</a></li>
                {% if page.has_next %}
                    <li>
                        <a href="/search/?q={{ query }}&page={{ page.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                {% endif %}
                <li><a>共:{{ paginator.num_pages }}页</a></li>
            </ul>
        </nav>
    </div>
{% endblock body %}
